*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1A1A1A;
    font-family: 'Inter', sans-serif;
}


:root{
    --bg-header: #0D0D0D;
    --do-title: rgba(94, 96, 206, 1);
    --to-title: rgba(78, 168, 222, 1);
    --bg-button: rgba(30, 111, 159, 1);
    --tt-button: rgba(242, 242, 242, 1);
    --hover-button: #4EA8DE;
    --tt-completed: rgba(94, 96, 206, 1);
    --tt-task-created: rgba(30, 111, 159, 1);
    --tt-placeholder: rgba(128, 128, 128, 1);
    --bg-input: rgba(38, 38, 38, 1);
    --bg-counter-created: #333333;
    --bg-counter-completed: #333333;
    --tt-counter-created: #D9D9D9;
    --tt-counter-completed: #D9D9D9;
    --ot-input: #5E60CE;
 
}

.header{
    background: var(--bg-header);
    width: 100vw;
    height: 21.164021164021165vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 .to{
    color: var(--to-title);
}
h1 .do{
    color: var(--do-title);
}
.titulo img{
    margin-right: 0.3rem;
    vertical-align: middle;

}

.titulo{
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
}

.input-add-lista{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: -28px;
  
}

#item {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #F2F2F2;
    height: 3.375rem;
    width: 39.875rem;
    background: var(--bg-input);
    border: 1px;
    border-radius: 0.5rem;
    padding: 1rem;    
}
#item:focus{
    outline: 1px solid var(--ot-input);

}

#itwm::placeholder {
    color: var(--tt-placeholder);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;

}

.btn-created img{
    height: 1rem;
    width: 1rem;
}

.btn-created {
    height: 3.375rem;
    width: 5.625rem;
    padding: 1rem;
    border: 1px;
    border-radius: 0.5rem;
    background: var(--bg-button);
    color: var(--tt-button);

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    
    display: inline-flex;
    gap: 8px;
}

.btn-created:hover{
    background: var(--hover-button);
}

.card-tasks{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 736px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 64px;
}

.task-created{
    color: var(--tt-task-created);
}
.counter-created{
    width: 25px;
    height: 19px;
    border-radius: 999px;
    font-size: 12px;

    padding: 2px 8px 2px 8px;
    display: inline;
    gap: 10px;
    background: var(--bg-counter-created);
    color: var(--tt-counter-created);
}

.completed {
    color: var(--tt-completed);
}

.counter-completed{
    width: 25px;
    height: 19px;
    border-radius: 999px;
    font-size: 12px;

    padding: 2px 8px 2px 8px;
    display: inline;
    gap: 10px;
    background: var(--bg-counter-completed);
    color: var(--tt-counter-completed);
}

.container-tasks {
    height: 15.25rem;
    width: 46rem;

    border-top: 1px solid #333333; ;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    margin: auto;
    margin-top: 1.5rem;
}

.tt-task-not-created{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;

    color: #808080;
}

.tt-create-task{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #808080;
}

.card-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 24px;
    
}

.list{
    background: #262626;
    height: 72px;
    width: 736px;
    border: 1px solid  #333333;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;
    
    display: flex;
    gap: 12px;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #F2F2F2;
} 

.check{
    width: 17.45px;
    height: 17.45px;
    appearance: none;
    border-radius:999%;
    border: 1px solid #4EA8DE;

}

.check:hover{
    background: #1E6F9F;
}

.check:checked{
    background-color: #5E60CE;
    border: none;
    background-image: url(./assets/img/check.svg);
    background-repeat: no-repeat;  
    background-position: center;
    
}
.check:checked + p{
    text-decoration: line-through;
    color: #808080;
}

.txt-list-item{
    width: 632px;
    height: 40px;  
}

.btn-trash{
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-trash:hover{
    background: #333333;
}

.btn-trash:hover svg path {
    fill: #E25858;
}


